.SessaoWrapper{
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
 .SessaoImg .containerMulher img{
    position: relative;
    z-index: 2;
    padding: 36px;
}
.imgContainer .imgFundo{
    position: absolute;
    right: 0;
    top: -7px;
    z-index: -1;
}    